.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-upload {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn-upload:hover{
  background-color: gray;
  color: white;
}

.icon {
  padding: 4px;
}

.fileInput{
  display: none;
}